<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>
      <%= resource.name %>
      <% if (authorized && (typeof resource.author === 'undefined' || resource.author.email === email)) { %>
      <a href="/resources/<%= resource.id %>/edit">
        <i class="fa fa-edit"></i>
      </a>
      <% } %>
    </h1>
    <br>
    <small>
      <%= (resource.updatedAt.toLocaleString("en-CA")) %>
    </small>
    <p><strong>By: <%= resource.author.fullname %></strong></p>
  </header>
  <hr>
  <div>
    <strong>ReleaseDate:</strong> <%= resource.releasedate %>
  </div>
  <div>
    <strong>Release Price:</strong> $<%= resource.price %>
  </div>
  <div>
    <strong>Resell Price:</strong> $<%= resource.resellprice %>
  </div>
  <div class="description">
    <strong>Description:</strong>
    <br>
    <%- resource.description %>
  </div>
</div>

<%- include ('../partials/footer') %>